<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
    	<script src="../resources/Script/angular.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="../resources/css/style.css" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>Student Login</title>
	</head>
	<body>
		<div class="login-form">
		    <h3 style="color: black;font-family: cursive;text-align: center;font-size: 30px;margin-top: -26" >Student Academic Management System</h3><br><br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <br>
		    <h3 style="text-align: center;font-size: larger;">
		        <a style="color: black"  href="admin">Admin Login</a> | <a style="color:black" href="hod">HOD Login</a></h3>
		    <div >
		        <h1 class="heading" style="color:black">STUDENT LOGIN</h1>
		    </div>
		    <br>
			<div class="login-top"  ng-app="loginApp" ng-controller="loginController">
    		    <p style="color:red">  {{ out }} </p>
		        <form ng-submit="login()"  name="loginForm" >
		            <div class="login-ic">
		                <input type="text"   name="rollno" ng-model="rollno" onfocus="this.value = '';" placeholder="Roll NO"/>
		                <div class="clear"></div>
		            </div>
		            <div class="login-ic">
		                <input type="password"   name="password" ng-model="password" onfocus="this.value = '';" placeholder="*******"/>
		                <div class="clear"></div>
		            </div>	
		            <div class="log-bwn">
		                <input type="submit" ng-model="submit" value="Login">
		            </div>
		            <br>
		            <a href="#" style="color: black" data-target="#pwdModal" data-toggle="modal">Forgot my password</a>
		        </form>
		    </div>
		</div>
		<script>
			var app=angular.module("loginApp",[]);
			app.controller("loginController",function ($scope,$http,$window){
				$scope.login=function()
				{
					if(($scope.rollno!=null)&&($scope.password!=null))
					{
						$http({
							method:"GET",
							url:"check",
							params:{rollno:$scope.rollno,password:$scope.password},
							headers:'Accept:application/json'
						}).then(function successCallback(response)
						{
							
						});
					}
					else
					{
						$scope.out="Both Should not be Empty";
					}
				}
			});
		</script>
	</body>
</html>